#box-anuncio{
    width: 100%;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* background-color: rgba(0, 0, 0, 0.05); */
    flex-wrap: wrap;
    /* padding: 1%; */
    
}

#img-qrcode {
    height: 150px;
}

#img-anuncio{
    max-height: 350px;
    flex-shrink: 1;
    flex: 1;
    height: 100%;
    border-radius: 10px;
    /* min-height: 100px; */
}

#box-texto-anuncio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
    padding: 1%;
    flex-wrap: wrap;
}

#box-texto-anuncio ul{
    list-style-position: inside;
}

#box-texto-anuncio div{
    flex: 1;
}

#box-texto-anuncio div > *{
    margin-block: 2vh;
    min-width: 300px;
    /* text-wrap: nowrap; */
 
}

@media screen and (max-width: 480px) {

    #box-anuncio{
        flex-direction: column;
        /* background-color: red; */
    }

    #box-texto-anuncio{
        flex-direction: column;
    }

    #img-anuncio{
        height: auto;
        width: 100%;
    }
    
}