

footer{
    background-color: rgb(26, 88, 195);
    width: 100%;
    color: white;
    padding-bottom: 2%;
}

#box-footer{
    max-width: 1300px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    flex-wrap: wrap;
    text-align: center;
}

#logo-footer{
    height: 70px;
    filter: invert(1);
}

#box-texto-footer{
    text-wrap: nowrap;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* flex-direction: column;
    align-items: center; */
}

#box-contatos{
    display: flex;
    justify-content: center;
}

#box-contatos img{
    filter: invert(1);
    margin: 1vh;
    height: 50px;
    /* background-color: blue; */
}

.box-atribuicoes{
    list-style: none;
    /* display: flex; */
    border-radius: 10px;
    flex: 1;
    margin: 2%;
}

footer a{
    color: white;
    text-wrap: nowrap;
}

.box-atribuicoes img{
    height: 70px;
    padding: 1%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 480px){

    footer{
        padding-bottom: 10%;
    }

    #logo-footer{
        margin-right: 50%;
    padding: 2%;

    }

    /* #box-footer{
        flex-direction: column;
    } */

    #box-texto-footer{
        border-inline: none;
        flex-direction: column;
    }

}

