

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'calibri';
}

header{
    width: 100%;
    height: 10vh;
    background-color: rgb(26, 88, 195);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 3;
}

#menu-header{
    height: 100%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2%;
    /* border: solid 1px rgb(255, 0, 0); */

}

#logo-header{
    display: inline-block;
    height: 70%;
    /* background-color: red; */
}

#logo-header img{
    height: 100%;
    filter: invert(1);
}

#menu-lateral{
    /* flex: 1; */
    width: 70%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    /* z-index: 3; */
}

#menu-lateral li{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#menu-lateral a{

    padding: 5%;
    text-decoration: none;
    color: white;
    font-size: 125%;
    transition: 0.5s;
    border-radius: 10px;
    position: relative;
    /* border-radius: 10px; */
}

#menu-lateral a:hover{
    font-weight: bold;
    /* color: rgb(71, 118, 184); */
}

/* #menu-lateral a:hover{
    background-color: rgba(0, 0, 0, 0.1);
} */
#menu-lateral a::after, .destaque::after{
    background-color: white;
    content: ' ';
    height: 3px;
    position: absolute;
    bottom: 0%;    
    transition: 0.5s;
}

#menu-lateral a::after{
    width: 0%;
    left: 50%;

}

.destaque::after{

    width: 100%;
    left: 0%;

}

#menu-lateral a:hover::after{
    width: 100%;
    left: 0%;
}

header *{
    /* border: solid 1px rgb(255, 0, 0); */
}


#btn-menu{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 7vh;
    width: 7vh;
    background-color: transparent;
    border-width: 0px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20%;
    position: relative;
}

#btn-menu > div{
    /* position: absolute; */
    height: 3px;
    width: 85%;
    background-color: white;
    transform-origin: 0% 0%;
    transition: 0.5s;
    border-radius: 50px;
}

/* #linha-bnt-menu-01{
    top: 20%;
}

#linha-bnt-menu-03{

    bottom: 20%;
} */

@media screen and (max-width: 480px) {
    
    #menu-header{
        padding-inline: 5%;
    }
    
    #menu-lateral{
        background-color: rgb(69, 53, 196);
        position: absolute;
        height: 90vh;
        top: 10vh;
        left: -100%;
        transition: 0.5s;
        flex-direction: column;
        justify-content: flex-start;
        /* height: 15%; */
        /* left: 100%; */
    }

    #menu-lateral li{ 
        height: 10%;
        width: 100%;
        flex-grow: 0;

    }

    #menu-lateral a{
        border-radius: 0px;
        flex: 1;
        text-align: center;
    }

    #btn-menu{
        display: flex;

    }

    #menu-lateral a:hover::after{
        width: 0%;
        left: 50%;
    }

}
