main {
    /* height: 100dvh; */
    width: 100%;
    /* background-color: red; */
    padding-top: 10dvh;
    /* overflow: auto; */
    /* position: relative; */
    /* background-color: red; */

}

#box-whatsapp{
    height: 8dvh;
    width: 8dvh;
    background-color: rgb(79, 194, 117);
    border-radius: 50%;
    position: fixed;
    z-index: 2;
    bottom: 1rem;
    right: 1rem;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

body{
    /* background: linear-gradient(90deg, rgb(137, 194, 217) ,rgb(174, 222, 243)); */
    /* background-color: rgb(190, 237, 237); */
}

#box-whatsapp img{
    height: 70%;
    width: 70%;
    filter: invert(1);
}

#box-main {
    height: 200%;
    max-width: 1300px;
    margin: auto;
    /* border: 1px solid; */
    position: relative;
    /* background-color: rgba(255, 20, 20, 0.5); */
    padding: 1%;

}

#box-main > *{
    margin-block: 2dvh;
}

/* ::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.1);
    display: none;

}

::-webkit-scrollbar-thumb {
    background-color: rgb(66, 149, 165);
    display: none;
    border-radius: 10px;
} */

@media screen and (max-width: 480px) {

    #box-main > *{
        margin-block: 2dvh;
    }
    
}
