

#box-pesquisa{
    /* background-color: red; */
    width: 90%;
    /* height: 10dvh; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: inset 3px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: auto;
    flex-wrap: wrap;
    transition: 0.5s;
}

.itens-pesquisa{
    flex: 2;
    margin: 1%;
    border: inset 3px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
    transition: 0.5s;
}

.itens-pesquisa:hover, #box-pesquisa:hover{
    border: inset 3px rgb(101, 180, 214);

}

.itens-pesquisa img{
    /* background-color: red; */
    padding: 2%;
    height: 70px;
}

.itens-pesquisa div{
    /* background-color: red; */
    flex-wrap: wrap;
    flex: 1;
}

.itens-pesquisa label{
    display: inline-block;
    font-weight: bold;
    width: 100%;
}

.itens-pesquisa input{
    display: inline-block;
    width: 95%;
    outline: none;
    border-width: 0px;
    border-bottom: 3px rgba(0, 0, 0, 0.5) solid;
    font-size: 120%;
}

.itens-pesquisa input:hover, .itens-pesquisa input:focus{
    border-bottom: inset 3px rgb(101, 180, 214);
}


#box-pesquisa button{
    border-width: 0px;
    background-color: rgb(101, 180, 214);
    padding: 2%;
    margin: 1%;
    border-radius: 10px;
    color: white;
    font-size: large;
    font-weight: bold;
    flex: 1;
    border: inset 3px rgb(101, 180, 214);
    transition: 0.5s;
}


#box-pesquisa button:hover{
    color: rgb(101, 180, 214);
    background-color: transparent;
    cursor: pointer;

}


@media screen and (max-width: 480px) {

    #box-pesquisa{
        flex-direction: column;
        padding: 1%;
        gap: 1%;
    }

    .itens-pesquisa, #box-pesquisa button{
        width: 100%;
        margin: 0px;
        margin-block: 1%;
    }

    

    


}