

#box-pesquisa{
    /* background-color: red; */
    width: 100%;
    /* height: 10dvh; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin:  2dvh auto;
    flex-wrap: wrap;
    transition: 0.5s;
    box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.itens-pesquisa{
    flex: 2;
    margin: 1%;
    border: solid 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
    transition: 0.5s;
}

.itens-pesquisa:hover{
    border: solid 2px rgb(46, 168, 220);
}

.itens-pesquisa img{
    /* background-color: red; */
    padding: 2%;
    height: 70px;
}

.itens-pesquisa div{
    /* background-color: red; */
    flex-wrap: wrap;
    flex: 1;
}

.itens-pesquisa label{
    display: inline-block;
    font-weight: bold;
    width: 100%;
}

.itens-pesquisa input{
    display: inline-block;
    width: 95%;
    outline: none;
    border-width: 0px;
    border-bottom: 2px rgba(0, 0, 0, 0.5) solid;
    font-size: 120%;
    background-color: transparent;
}

.itens-pesquisa:hover input, .itens-pesquisa input:focus{
    border-bottom: solid 2px rgb(101, 180, 214);
}


#box-pesquisa button{
    border-width: 0px;
    background-color: rgb(101, 180, 214);
    padding: 2%;
    margin: 1%;
    border-radius: 10px;
    color: white;
    font-size: large;
    font-weight: bold;
    flex: 1;
    transition: 0.5s;
}


#box-pesquisa button:hover{
    background-color: rgb(53, 182, 237);
    cursor: pointer;

}


@media screen and (max-width: 480px) {

    #box-pesquisa{
        flex-direction: column;
        padding: 1%;
        gap: 1%;
    }

    .itens-pesquisa, #box-pesquisa button{
        width: 100%;
        margin: 0px;
        margin-block: 1%;
    }

    

    


}