
#box-home{
    /* height: 40dvh; */
    position: relative;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: red; */
    /* background-image: url('../imgs/fundo-pesquisa.jpg'); */
    /* background-size: 100% 100%; */
}

#box-home h1{
    background-color: rgba(30, 30, 110, 0.4);
    padding-inline: 1%;
    clip-path: polygon(0% 0%, 100% 0%, 99% 50%, 100% 100%, 0% 100%, 1% 50%);
    color: white;
    position: absolute;
    top: 10%;
    z-index: 2;
}

#box-pesquisa{
    
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid 2px rgba(0, 0, 0, 0.5); */
    border-radius: 10px;
    flex-wrap: wrap;
    transition: 0.5s;
    /* box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.5); */
    background-color: white;
    margin: auto;
}

.box-pesquisa-pg{
    width: 100%;
    

}

.box-pesquisa-home{
    width: 80%;
    bottom: 20%;
    position: absolute;

}

.itens-pesquisa{
    flex: 2;
    margin: 1%;
    border: solid 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
}

.itens-pesquisa:hover{
    outline: solid 2px rgb(26, 88, 195);
}

.itens-pesquisa img{
    /* background-color: red; */
    /* padding: %; */
    height: 70px;
    padding: 5%;
}

.itens-pesquisa div{
    /* background-color: red; */
    flex-wrap: wrap;
    flex: 1;
}

.itens-pesquisa label{
    display: inline-block;
    font-weight: bold;
    width: 100%;
}

.itens-pesquisa input{
    display: inline-block;
    width: 95%;
    outline: none;
    border-width: 0px;
    border-bottom: 1px rgba(0, 0, 0, 0.5) solid;
    font-size: 120%;
    background-color: transparent;
}

.itens-pesquisa:hover input, .itens-pesquisa input:focus{
    border-bottom: solid 2px rgb(26, 88, 195);
}

.itens-pesquisa:hover label, .itens-pesquisa input:focus~label{
    color: rgb(26, 88, 195);
}


#box-pesquisa button{
    border-width: 0px;
    background-color: rgb(26, 88, 195);
    padding: 2%;
    margin: 1%;
    border-radius: 10px;
    color: white;
    font-size: large;
    font-weight: bold;
    flex: 1;
    transition: 0.5s;
}


#box-pesquisa button:hover{
    background-color: rgb(53, 182, 237);
    cursor: pointer;

}


@media screen and (max-width: 480px) {

    #box-pesquisa{
        position: static;
        width: 100%;
        flex-direction: column;
        padding: 1%;
        gap: 1%;
    }

    #box-home h1{
        /* position: static; */
        /* background-color: transparent; */
    }

    .itens-pesquisa, #box-pesquisa button{
        width: 100%;
        margin: 0px;
        margin-block: 1%;
    }
    

    #box-home{
        height: auto;
        border-radius: 10px;
        padding: 0%;
        background-image: none;
        /* border: 2px solid rgb(26, 88, 195);
        background-color: rgb(26, 88, 195); */
    }

    
  


}