
main{
    /* background-color: red; */
    padding-top: 10vh;
    background-color: white;
    position: relative;
}

#box-main{
    /* background-color: green; */
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

#box-exibir-mapa{
    /* height: 80dvh; */
    width: 60vw;
    background-color: rgb(89, 134, 231);
    position: absolute;
    z-index: 2;
    top: 12vh;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* position: relative; */
    z-index: -2;
}

#mapa-01{
    width: 100%;
    height: 500px;
}


#header-mapa-01{
    padding: 1%;
    display: flex;
    align-items: center;
}

#header-mapa-01 h3{
    flex: 1;
    padding-left: 5%;
}

#header-mapa-01 button{
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    border: 2px solid;
    color: white;
    background-color: transparent;
}

#box-imgs-hotel{
    background-color: rgb(255, 255, 255);
    display: flex;
    position: relative;
}

#box-imgs-hotel span{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.5%;
    border-radius: 20px;
    right:  1%;
    bottom: 2%;
}

#box-infos-hotel{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#box-infos-hotel h4{
    padding-left: 2%;
    width: 100%;
}

#box-imgs-hotel > img{
    width: 50%;
    height: 400px;
    padding:  1px;
}

#box-imgs-hotel div{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 400px;
}

#box-imgs-hotel div img{
    height: 50%;
    width: 50%;
    padding:  1px;
}

h1{
    border-top: 1px solid gray;
    margin-top: 1vh;
    padding-left: 2%;
    width: 100%;
}

#box-comodidades{
    margin-block: 2;
    padding: 1%;
    display: flex;
    flex: 1;
    min-width: 40%;
    flex-wrap: wrap;
}

#box-comodidades h2, #box-comodidades  span, #box-comodidades a{ 
    width: 100%;
}

#box-comodidades a{ 
    text-wrap: nowrap;
}

#box-comodidades p{
    width: 50%;
    display: flex;
    align-items: center;
    margin-block: 1%;
    font-size: 110%;
    padding-left: 1%;
}

#box-comodidades img{
    height: 30px;
}

#box-localidade{
    /* background-color: rgb(10, 195, 228); */
    max-width: 300px;
}

#box-mapa{
    background-color: rgb(255, 255, 255);
    width:  300px;
    border-radius: 10px;
    overflow: hidden;
    border:  1px solid gray;
    margin-top: 5%;
}

#mapa-02{
    height: 200px;
    width: 100%;
    z-index: 1;
}



#box-endereco{
    /* background-color: red; */
    margin: 1%;
}

#box-endereco button{
    background-color: transparent;
    font-size: 105%;
    border-width: 0px;
    color: blue;
}

#box-lugares{
    margin-top: 5%;
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#box-lugares p, .box-quarto p{
    /* background-color: red; */
    display: flex;
    align-items: center;
}

#box-lugares > * {
    margin-block: 2%;
}

#box-lugares img, .box-quarto p img{
    height: 20px;
}

#galeria-quartos{
    width: 100%;
    margin-bottom: 2%;
    /* background-color: red; */
}

.box-btns-galeria button{
    padding: 0px;
    background-color: transparent;
    box-shadow: 0px 0px 0px 0px transparent;
}

.box-btns-galeria button img{
    cursor: pointer;
    transition: 0.5s;
    height: 50px;
}

.box-btns-galeria button img:hover{
    transform: scale(1.5);
}

#galeria-quartos .box-scroll-galeria{
    width: 200%;
}

#galeria-quartos .itens-galeria{
    width: 10%;
}

.box-quarto{
    height: 90%;
    width: 90%;
    background-color: rgba(126, 126, 126, 0.1);
    overflow: hidden;
    border-radius: 10px;
    border: solid 1px gray;
    display: flex;
    flex-direction: column;
}

.box-info-quarto{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1%;
}

.box-info-quarto > *{
    margin-block: 2%;

}

.box-info-quarto p{
    margin-block: 5%;
}

.box-info-quarto button{
    background-color: rgb(55, 93, 197);
    color: white;
    border-radius: 5px;
    border-width: 0px;
    padding: 2%;
    font-size: 110% ;
}

.img-quarto{
    height: 40%;
    width: 100%;
}


@media screen and (max-width: 480px){

    #galeria-quartos{
        height: 60dvh;
    }

    .box-quarto{
        width: 60%;
    }

    #galeria-quartos .box-scroll-galeria{
        width: 1000%;
    }

    #galeria-quartos .itens-galeria{
        width: 10%;
    }

}




