
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#slider {
    height: 50vh;
    width: 100%;
    margin-block: 1%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;

}

#box-scroll-slider {
    height: 100%;
    width: 500%;
    display: flex;
}

.slides {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    margin-left: 0%;
}

.slides img {
    height: 100%;
    width: 100%;
    background-color: black;
}

#slide-01 {
    transition: 1s;
    margin-left: 0%;
}

#btn-01-slider{
    background-color: white;
   
}

#box-btns-slider{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0%;
}

#box-btns-slider div{
    margin: 1rem;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    flex-shrink: 0;
    
}

@media screen and (max-width: 480px) {
    
    #slider {
        height: 40vh;
        width: 100%;
        margin-block: 1%;

    }
}